



footer{
  background-color: rgb(58, 49, 45);
  left: 0;
  right: 0;
  bottom: 0;
  height: 120px;
}

.footer-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 600px;
  justify-content: space-between;
  margin: auto;
  padding-top: 40px;
  margin-top: 60px;

}